{% extends "layout.html" %}

{% block left_panel %}
  <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header">团队成员</li>
	  <li><a href="#">紫光华山</a></li>
	  <li><a href="#">亚康</a></li>
	  <li class="nav-header">团队精彩</li>
	  <li><a href="#">大事记</a></li>
	  <li class="active"><a href="#">成员风彩</a></li>
	  <li><a href="#">活动照片</a></li>
   </ul>
  </div><!--/.well -->
{% endblock %} <!--block left_panel-->

{% block right_panel %}
<!--   <div class="leaderboard">
	<h1>学习. 创新. 成长.</h1>
	<p>	2011年，腾讯启动了IDC运维服务外包项目。通过五年的运行，腾讯IDC机房逐步由驻场模式切换到全外包模式。<br>
		在腾讯管理团队和紫光华山专业外包服务团队的配合下，IDC现场运维服务质量、流程执行合规性、及人均运维效率均达到项目预期。<br>
		2016-2017年，腾讯将持续实施IDC运维服务外包。未来，通过紫光华山专业IT外包服务团队和腾讯一起探索适合互联网行业的IDC外包运营模式，
		我们将会进一步提升腾讯IDC现场运维的服务能力。
	</p>
	<p><a class="btn btn-success btn-large">加入我们</a></p>
  </div> -->
  
	<div class="row">
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture1.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>武林至尊</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture2.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>宝刀屠龙</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture3.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>号令天下</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p> 
			 </div>
		  </div>
	   </div>
	   <div class="col-sm-6 col-md-3">
		  <div class="img-thumbnail">
			 <img src="/static/images/Picture4.png" class="img-circle"
			 alt="...">
			 <div class="caption">
				<h3>莫敢不从</h3>
				<p>这只是范例，后面再补充。</p>
				<p>
				   <a href="#" class="btn btn-success" role="button">
					  关于
				   </a> 
				   <a href="#" class="btn btn-default" role="button">
					  点赞
				   </a>
				</p>
			 </div>
		  </div>
	   </div>
	</div>
  
  <hr>
  <div class="row-fluid">
	<div class="span4">
	  <h2>学习</h2>
	  <p>自2011年腾讯启动了IDC运维服务外包项目,通过五年的运行，腾讯IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">不断学习</a></p>
	</div><!--/span-->
	<div class="span4">
	  <h2>创新</h2>
	  <p>自2011年腾讯启动了IDC运维服务外包项目,通过五年的运行，腾讯IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">锐意创新</a></p>
	</div><!--/span-->
	<div class="span4">
	  <h2>成长</h2>
	  <p>自2011年腾讯启动了IDC运维服务外包项目,通过五年的运行，腾讯IDC机房逐步由驻场模式切换到全外包模式。</p>
	  <p><a class="btn btn-success btn-large" href="#">共同成长</a></p>
	</div><!--/span-->
  </div><!--/row-->
  <hr>
  <footer>
	<p>&copy; H3C-Tencent 2016</p>
  </footer>
{% endblock %}<!--block right_panel-->