{% extends "layout.html" %}

{% block left_panel %}
  <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li class="nav-header">XXX 外包SOW</li>
	  <li class="active"><a href="#">高压线</a></li>
	  <li><a href="#">服务器</a></li>
	  <li><a href="#">网络</a></li>
	  <li><a href="#">资产</a></li>
	  <li class="nav-header">流程规范</li>
	  <li><a href="#">人员审计</a></li>
	  <li><a href="#">流程审计</a></li>
	  <li><a href="#">工作质量</a></li>
   </ul>
  </div><!--/.well -->
{% endblock %} <!--block left_panel-->

{% block right_panel %}
  <div class="leaderboard">
	<h1>聆听. 完善. 进步.</h1>
	<p>请在本留言板畅所欲言吧！
	</p>
	<br>
	<p><a class="btn btn-success btn-large">留言区就在下面：</a></p>
  </div>
  {% include 'duoshuo.html' %}
  <footer>
   <p class="pull-right"><strong><a href="#top">回到顶部</a></strong></p> 
	<p>&copy; JiaXuan 2016</p>
  </footer>
{% endblock %}<!--block right_panel-->